In [1]:
import numpy as np 
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
data_path='/content/drive/MyDrive/Colab Notebooks/Statistical Learning II/Tarea I/train.csv'
df_train = pd.read_csv(data_path)
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_train['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
train = df_train.drop(['Ticket', 'Cabin', 'Name'], axis = 1)
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [7]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

In [8]:
ohe = pd.get_dummies(train['Sex'], drop_first=True)
train.drop('Sex', axis=1, inplace=True)
train = train.join(ohe)
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare Embarked  male
0            1         0       3  22.0      1      0   7.2500        S     1
1            2         1       1  38.0      1      0  71.2833        C     0
2            3         1       3  26.0      0      0   7.9250        S     0
3            4         1       1  35.0      1      0  53.1000        S     0
4            5         0       3  35.0      0      0   8.0500        S     1

In [9]:
ohe = pd.get_dummies(train['Embarked'], drop_first=True)
train.drop('Embarked', axis=1, inplace=True)
train = train.join(ohe)
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0            1         0       3  22.0      1      0   7.2500     1  0  1
1            2         1       1  38.0      1      0  71.2833     0  0  0
2            3         1       3  26.0      0      0   7.9250     0  0  1
3            4         1       1  35.0      1      0  53.1000     0  0  1
4            5         0       3  35.0      0      0   8.0500     1  0  1

In [10]:
meanValue = np.round(train['Age'].mean(), 0)

In [11]:
train['Age'] = train['Age'].fillna(meanValue)
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0            1         0       3  22.0      1      0   7.2500     1  0  1
1            2         1       1  38.0      1      0  71.2833     0  0  0
2            3         1       3  26.0      0      0   7.9250     0  0  1
3            4         1       1  35.0      1      0  53.1000     0  0  1
4            5         0       3  35.0      0      0   8.0500     1  0  1

In [12]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
male           0
Q              0
S              0
dtype: int64

In [13]:
train.isnull().values.any()

False

In [14]:
X = train.iloc[:, train.columns != 'Survived']
y = train.loc[:, 'Survived']

In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [16]:
std_scaler = StandardScaler()
X = std_scaler.fit_transform(X)

In [17]:
#partición de data para entrenamiento y prueba.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.469135802, shuffle=True)

### Keras

In [18]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [19]:
inputs = X_train.shape[1]

 6 Neuronas 
 2 capas
 sigmoid

In [20]:
#base secuencial para definir la estructura de la Red (SIEMPRE INICIAR CON SQUENTIAL)
clasificador = Sequential()

#primera capa oculta solo la primera necesita (input_dim = inputs
clasificador.add(Dense(input_dim = inputs, units=2, activation='elu', kernel_initializer='uniform'))

#segunda capa oculta ya en la segunda ya no se nesecita los input 
clasificador.add(Dense(units=2, activation='elu', kernel_initializer='uniform'))

#capa de salida
clasificador.add(Dense(units=1, activation='sigmoid', kernel_initializer='uniform'))

In [21]:
#parametros de optimización
clasificador.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

#parametros de entrenamiento.
clasificador.fit(X_train, y_train, batch_size=10, epochs=50)

Epoch 1/50
48/48 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.6047
Epoch 2/50
48/48 [==============================] - 0s 2ms/step - loss: 0.6855 - accuracy: 0.6110
Epoch 3/50
48/48 [==============================] - 0s 2ms/step - loss: 0.6671 - accuracy: 0.6321
Epoch 4/50
48/48 [==============================] - 0s 2ms/step - loss: 0.6262 - accuracy: 0.7717
Epoch 5/50
48/48 [==============================] - 0s 2ms/step - loss: 0.5689 - accuracy: 0.8076
Epoch 6/50
48/48 [==============================] - 0s 2ms/step - loss: 0.5126 - accuracy: 0.8097
Epoch 7/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4718 - accuracy: 0.8140
Epoch 8/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4496 - accuracy: 0.8140
Epoch 9/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4389 - accuracy: 0.8055
Epoch 10/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4310 - accuracy: 0.8055
Epoch 11/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4252 - accuracy: 0.8118
Epoch 12/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4209 - accuracy: 0.8097
Epoch 13/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4186 - accuracy: 0.8118
Epoch 14/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4144 - accuracy: 0.8118
Epoch 15/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4115 - accuracy: 0.8161
Epoch 16/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4091 - accuracy: 0.8161
Epoch 17/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4070 - accuracy: 0.8097
Epoch 18/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8118
Epoch 19/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4025 - accuracy: 0.8161
Epoch 20/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4010 - accuracy: 0.8161
Epoch 21/50
48/48 [==============================] - 0s 2ms/step - loss: 0.4003 - accuracy: 0.8140
Epoch 22/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3989 - accuracy: 0.8182
Epoch 23/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3970 - accuracy: 0.8203
Epoch 24/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3958 - accuracy: 0.8203
Epoch 25/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3956 - accuracy: 0.8309
Epoch 26/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3926 - accuracy: 0.8182
Epoch 27/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3917 - accuracy: 0.8245
Epoch 28/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3910 - accuracy: 0.8245
Epoch 29/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3895 - accuracy: 0.8266
Epoch 30/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3874 - accuracy: 0.8309
Epoch 31/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3864 - accuracy: 0.8330
Epoch 32/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3844 - accuracy: 0.8330
Epoch 33/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3841 - accuracy: 0.8351
Epoch 34/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3828 - accuracy: 0.8330
Epoch 35/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3823 - accuracy: 0.8330
Epoch 36/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3809 - accuracy: 0.8414
Epoch 37/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3807 - accuracy: 0.8351
Epoch 38/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3791 - accuracy: 0.8351
Epoch 39/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3794 - accuracy: 0.8372
Epoch 40/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3789 - accuracy: 0.8330
Epoch 41/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3770 - accuracy: 0.8351
Epoch 42/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3772 - accuracy: 0.8393
Epoch 43/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3764 - accuracy: 0.8372
Epoch 44/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3765 - accuracy: 0.8393
Epoch 45/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3759 - accuracy: 0.8457
Epoch 46/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3751 - accuracy: 0.8393
Epoch 47/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3749 - accuracy: 0.8393
Epoch 48/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3744 - accuracy: 0.8393
Epoch 49/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3736 - accuracy: 0.8393
Epoch 50/50
48/48 [==============================] - 0s 2ms/step - loss: 0.3737 - accuracy: 0.8414

In [22]:
path = '/content/drive/MyDrive/Colab Notebooks/Statistical Learning II/Tarea I' 
clasificador.save(path + 'carga1.h5')

In [23]:
# Cargamos la red.
new_model = keras.models.load_model(path + 'carga1.h5')

## Predicciones

In [25]:
data_path1='/content/drive/MyDrive/Colab Notebooks/Statistical Learning II/Tarea I/test.csv'
df_test = pd.read_csv(data_path1)
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [26]:
test = df_test.drop(['Ticket', 'Cabin', 'Name'], axis = 1)
test.head()
test

     PassengerId  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0            892       3    male  34.5      0      0    7.8292        Q
1            893       3  female  47.0      1      0    7.0000        S
2            894       2    male  62.0      0      0    9.6875        Q
3            895       3    male  27.0      0      0    8.6625        S
4            896       3  female  22.0      1      1   12.2875        S
..           ...     ...     ...   ...    ...    ...       ...      ...
413         1305       3    male   NaN      0      0    8.0500        S
414         1306       1  female  39.0      0      0  108.9000        C
415         1307       3    male  38.5      0      0    7.2500        S
416         1308       3    male   NaN      0      0    8.0500        S
417         1309       3    male   NaN      1      1   22.3583        C

[418 rows x 8 columns]

In [27]:
ohe = pd.get_dummies(test['Sex'], drop_first=True)
test.drop('Sex', axis=1, inplace=True)
test = test.join(ohe)
test.head()
test

     PassengerId  Pclass   Age  SibSp  Parch      Fare Embarked  male
0            892       3  34.5      0      0    7.8292        Q     1
1            893       3  47.0      1      0    7.0000        S     0
2            894       2  62.0      0      0    9.6875        Q     1
3            895       3  27.0      0      0    8.6625        S     1
4            896       3  22.0      1      1   12.2875        S     0
..           ...     ...   ...    ...    ...       ...      ...   ...
413         1305       3   NaN      0      0    8.0500        S     1
414         1306       1  39.0      0      0  108.9000        C     0
415         1307       3  38.5      0      0    7.2500        S     1
416         1308       3   NaN      0      0    8.0500        S     1
417         1309       3   NaN      1      1   22.3583        C     1

[418 rows x 8 columns]

In [28]:
ohe = pd.get_dummies(test['Embarked'], drop_first=True)
test.drop('Embarked', axis=1, inplace=True)
test = test.join(ohe)
test.head()
test

     PassengerId  Pclass   Age  SibSp  Parch      Fare  male  Q  S
0            892       3  34.5      0      0    7.8292     1  1  0
1            893       3  47.0      1      0    7.0000     0  0  1
2            894       2  62.0      0      0    9.6875     1  1  0
3            895       3  27.0      0      0    8.6625     1  0  1
4            896       3  22.0      1      1   12.2875     0  0  1
..           ...     ...   ...    ...    ...       ...   ... .. ..
413         1305       3   NaN      0      0    8.0500     1  0  1
414         1306       1  39.0      0      0  108.9000     0  0  0
415         1307       3  38.5      0      0    7.2500     1  0  1
416         1308       3   NaN      0      0    8.0500     1  0  1
417         1309       3   NaN      1      1   22.3583     1  0  0

[418 rows x 9 columns]

In [29]:
meanValue = np.round(test['Age'].mean(), 0)

In [30]:
test['Age'] = test['Age'].fillna(meanValue)
test.head()
test

     PassengerId  Pclass   Age  SibSp  Parch      Fare  male  Q  S
0            892       3  34.5      0      0    7.8292     1  1  0
1            893       3  47.0      1      0    7.0000     0  0  1
2            894       2  62.0      0      0    9.6875     1  1  0
3            895       3  27.0      0      0    8.6625     1  0  1
4            896       3  22.0      1      1   12.2875     0  0  1
..           ...     ...   ...    ...    ...       ...   ... .. ..
413         1305       3  30.0      0      0    8.0500     1  0  1
414         1306       1  39.0      0      0  108.9000     0  0  0
415         1307       3  38.5      0      0    7.2500     1  0  1
416         1308       3  30.0      0      0    8.0500     1  0  1
417         1309       3  30.0      1      1   22.3583     1  0  0

[418 rows x 9 columns]

In [31]:
y_preds = new_model.predict(X_test)
y_preds_final = np.round(y_preds)
y_preds_final.shape

(418, 1)

In [32]:
#y_preds = (y_preds >= 0.5)
#y_preds

In [33]:
from sklearn.metrics import accuracy_score

In [34]:
test.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0          892       3  34.5      0      0   7.8292     1  1  0
1          893       3  47.0      1      0   7.0000     0  0  1
2          894       2  62.0      0      0   9.6875     1  1  0
3          895       3  27.0      0      0   8.6625     1  0  1
4          896       3  22.0      1      1  12.2875     0  0  1

In [35]:
accuracy_score(y_test, y_preds_final)

0.7679425837320574

In [36]:
#KFolds
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [37]:
def red_v1():
  #base secuencial para definir la estructura de la Red (SIEMPRE INICIAR CON SQUENTIAL)
  clasificador = Sequential()

  #primera capa oculta solo la primera necesita (input_dim = inputs
  clasificador.add(Dense(input_dim = inputs, units=2, activation='elu', kernel_initializer='uniform'))

  #segunda capa oculta ya en la segunda ya no se nesecita los input 
  clasificador.add(Dense(units=2, activation='elu', kernel_initializer='uniform'))

  #capa de salida
  clasificador.add(Dense(units=1, activation='sigmoid', kernel_initializer='uniform'))

  #parametros de optimización
  clasificador.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

  return clasificador

In [38]:
clasificador = KerasClassifier(build_fn=red_v1, batch_size=25, nb_epoch=1000)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  """Entry point for launching an IPython kernel.

In [39]:
kfolds = KFold(n_splits=10, shuffle=True)

accs = cross_val_score(clasificador, X=X_train, y=y_train, cv=kfolds, verbose=1, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:   10.6s finished

In [40]:
accs

array([0.66666669, 0.58333331, 0.6875    , 0.63829786, 0.65957445,
       0.61702126, 0.42553192, 0.61702126, 0.61702126, 0.59574467])

In [41]:
accs.mean()

0.6107712686061859

In [43]:
sub = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Statistical Learning II/Tarea I/gender_submission.csv')

In [44]:
sub['Survived'] = y_preds_final
sub.to_csv('submission_lightgbm.csv', index=False)

sub.head()

   PassengerId  Survived
0          892       1.0
1          893       0.0
2          894       0.0
3          895       0.0
4          896       1.0

In [46]:
from google.colab import files
sub.to_csv('carga.csv') 
files.download('carga.csv')